<div class="contenedor">

   <div class="filtros scroll">
      <table class="filtrosTabla">
         <thead>
            <tr>
               <th colspan="5">MATRICULA TOTAL</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th style="width: 12%;">AÑO</th>
               <td style="width: 38%;">2017</td>
               <th style="width: 10%;">SEDE</th>
               <td colspan="2" style="width: 40%;">
                  ARICA
               </td>
            </tr>
            <tr>
               <th>TIPO DE CARRERA</th>
               <td colspan="3">
                  PREGRADO
               </td>
               <td style="width: 3%; text-align: center">
                  <a role="button" class="icon-only pdf"></a>
               </td>
            </tr>
      </table>
   </div>

   <div class="cuerpo101">
      <table class="cuerpoTabla scroll" style="min-width: 1220px">
         <thead>
            <tr>
               <th style="width: 3%;" rowspan="2">#</th>
               <th style="width: 39%;" rowspan="2">CARRERA</th>
               <th style="width: 36%" colspan="3">NUEVOS</th>
               <th style="width: 11%;" rowspan="2">ANTIGUOS</th>
               <th style="width: 11%;" rowspan="2">MATRICULA TOTAL</th>
            </tr>
            <tr class="notr">
               <th>INGRESO ADMISION</th>
               <th>OTROS INGRESOS</th>
               <th>TOTAL</th>
            </tr>
         </thead>
         <tbody>
            <tr class="nohover">
               <th colspan="11" class="fullrow">FACULTAD DE CIENCIAS</th>
            </tr>
            <tr>
               <td style="width: 3%">1</td>
               <td class="string" style="width: 39%;">
                  PEDAGOGIA EN EDUCACION BASICA
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr>
               <td style="width: 3%;">1</td>
               <td class="string" style="width: 39%;">
                  TECNOLOGIA MEDICA CON MENCION EN LABORATORIO CLINICO, HEMATOLOGIA Y BANCO DE SANGRE
               </td>
               <td>43</td>
               <td>65</td>
               <td>25</td>
               <td style="width: 11%;">34</td>
               <td style="width: 11%;">15</td>
            </tr>
            <tr class="subtotal">
               <th style="width: 42%" class="numerico">SUBTOTAL</th>
               <th style="width: auto;">1608</th>
               <th style="width: auto;">2035</th>
               <th style="width: auto">127%</th>
               <th style="width: 11%;">100</th>
               <th style="width: 11%;">2135</th>
            </tr>
         </tbody>
         <tfoot>
            <tr>
               <th style="width: 42%;" class="numerico">TOTAL</th>
               <th style="width: auto;">1608</th>
               <th style="width: auto;">2035</th>
               <th style="width: auto">127%</th>
               <th style="width: 11%;">100</th>
               <th style="width: 11%;">2135</th>
            </tr>
         </tfoot>
      </table>

   </div>

</div>
