<div class="contenedor">

   <div class="filtros scroll">
      <table class="filtrosTabla">
         <thead>
            <tr>
               <th colspan="5">MATRICULA TOTAL</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th style="width: 12%;">AÑO</th>
               <td style="width: 38%;">{{selected.ANIO}}</td>
               <th style="width: 10%;">SEDE</th>
               <td colspan="2" style="width: 40%;">
                  {{selected.SEDE}}
               </td>
            </tr>
            <tr>
               <th>TIPO DE CARRERA</th>
               <td colspan="3">
                  {{selected.TIPO_CARRERA}}
               </td>
               <td style="width: 3%; text-align: center">
                  <a role="button" style="cursor: pointer" class="pdf" (click)="pdfTotal()"></a>
               </td>
            </tr>
      </table>
   </div>

   <div class="cuerpo101">
      <table class="cuerpoTabla scroll" style="min-width: 1220px">
         <thead>
            <tr>
               <th style="width: 3%;" rowspan="2">#</th>
               <th style="width: 39%;" rowspan="2">CARRERA</th>
               <th style="width: 36%" colspan="3">NUEVOS</th>
               <th style="width: 11%;" rowspan="2">ANTIGUOS</th>
               <th style="width: 11%;" rowspan="2">MATRICULA TOTAL</th>
            </tr>
            <tr class="notr">
               <th>INGRESO ADMISION</th>
               <th>OTROS INGRESOS</th>
               <th>TOTAL</th>
            </tr>
         </thead>
         <tbody>
            <ng-container *ngFor="let facultad of total['FACULTADES']; let i= index">
               <tr class="nohover">
                  <th colspan="11" class="fullrow">{{facultad.FACULTAD}}</th>
               </tr>

               <tr *ngFor="let carrera of facultad['CARRERAS']; let j = index">
                  <td style="width: 3%">{{ cumulativeLength(i) + (j+1) }} </td>
                  <td class="string" style="width: 39%;">
                     {{carrera.CARRERA}}
                  </td>
                  <td>{{carrera.INGRESO_ADMISION}}</td>
                  <td>{{carrera.OTROS_INGRESOS}}</td>
                  <td>{{carrera.TOTAL_NUEVOS}}</td>
                  <td style="width: 11%;">{{carrera.ANTIGUOS}}</td>
                  <td style="width: 11%;">{{carrera.TOTAL}}</td>
               </tr>

               <tr class="subtotal">
                  <th style="width: 42%" class="numerico">SUBTOTAL</th>
                  <th style="width: auto;">{{facultad['SUBTOTAL'].INGRESO_ADMISION}}</th>
                  <th style="width: auto;">{{facultad['SUBTOTAL'].OTROS_INGRESOS}}</th>
                  <th style="width: auto">{{facultad['SUBTOTAL'].TOTAL_NUEVOS}}</th>
                  <th style="width: 11%;">{{facultad['SUBTOTAL'].ANTIGUOS}}</th>
                  <th style="width: 11%;">{{facultad['SUBTOTAL'].TOTAL}}</th>
               </tr>
            </ng-container>
         </tbody>
         <tfoot>
            <tr>
               <th style="width: 42%;" class="numerico">TOTAL</th>
               <th style="width: auto;">{{total['TOTAL'].INGRESO_ADMISION}}</th>
               <th style="width: auto;">{{total['TOTAL'].OTROS_INGRESOS}}</th>
               <th style="width: auto">{{total['TOTAL'].TOTAL_NUEVOS}}</th>
               <th style="width: 11%;">{{total['TOTAL'].ANTIGUOS}}</th>
               <th style="width: 11%;">{{total['TOTAL'].TOTAL}}</th>
            </tr>
         </tfoot>
      </table>

   </div>

</div>
