body.modal-open {
  overflow: hidden; /* Optional: hides body scroll bar when modal is open. */
}

.modal {
  opacity: 0; /* Fade in/out animation. */
  transition: opacity 0.2s ease-in;
}

/*CONTENIDO DEL MODAL*/
.modal-content {
  color: #333;
  background-color: green;
  padding: 25px; /*MAYOR PADDING CRECE EL CUADRADO MODAL*/
}

.modal-header {
  background-color: blue;
  display: flex;
  padding-bottom: 14px;
}

.modal-header  > h2 {
  flex: 1;
}

/*BOTON CLOSE DEL MODAL*/
.modal-header .close {
  background-color: red;
  font-weight: 100;
  font-size: 2.5rem;
  border: 0;
  border-radius: 999px;
  padding: 0;
  margin: 0;
  line-height: 1rem;
  height: 4rem;
  width: 4rem;
}

/*EFECTO SOBRE BOTON CLOSE DEL MODAL*/
.modal-header .close:hover {
  background-color: yellow;
}