<div class="contenedor">

   <div class="filtros scroll">
      <table class="filtrosTabla">
         <thead>
            <tr>
               <th colspan="5">ALUMNOS NUEVOS</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th style="width: 12%;">AÑO</th>
               <td style="width: 38%;">{{selected.ANIO}}</td>
               <th style="width: 10%;">SEDE</th>
               <td colspan="2" style="width: 40%;">
                  {{selected.SEDE}}
               </td>
            </tr>
            <tr>
               <th>TIPO DE CARRERA</th>
               <td colspan="3">
                  {{selected.TIPO_CARRERA}}
               </td>
               <td style="width: 3%; text-align: center">
                  <a role="button" style="cursor: pointer" class="pdf" (click)="pdfNuevos()"></a>
               </td>
            </tr>
      </table>
   </div>

   <div class="cuerpo101">
      <table class="cuerpoTabla scroll" style="min-width: 1220px">
         <thead>
            <tr>
               <th style="width: 2%;" rowspan="2">#</th>
               <th style="width: 28%;" rowspan="2">CARRERA</th>
               <th style="width: 9%;" rowspan="2">SELECCIONADOS</th>
               <th style="width: 6%;" rowspan="2">LISTA ESPERA</th>
               <th style="width: 9%;" rowspan="2">REPOSTULACIÓN</th>
               <th style="width: 6%;" rowspan="2">INGRESO ESPECIAL</th>
               <th colspan="3">MATRICULA ADMISION</th>
               <th style="width: 6%;" rowspan="2">OTROS INGRESOS</th>
               <th style="width: 7%;" rowspan="2">MATRICULA TOTAL</th>
            </tr>
            <tr class="notr">
               <th>VACANTES</th>
               <th>MATRICULADOS</th>
               <th>%</th>
            </tr>
         </thead>
         <tbody>
            <ng-container *ngFor="let facultad of nuevos['FACULTADES']; let i= index">
               <tr class="nohover">
                  <th colspan="11" class="fullrow">{{facultad.FACULTAD}}</th>
               </tr>
               <tr *ngFor="let carrera of facultad['CARRERAS']; let j = index">
                  <td style="width: 2%">{{ cumulativeLength(i) + (j+1) }} </td>
                  <td class="string" style="width: 28%;">
                     {{carrera.CARRERA}}
                  </td>
                  <td style="width: 9%;">{{carrera.SELECCIONADOS}}</td>
                  <td style="width: 6%;">{{carrera.LISTA_ESPERA}}</td>
                  <td style="width: 9%;">{{carrera.REPOSTULACION}}</td>
                  <td style="width: 6%;">{{carrera.INGRESO_ESPECIAL}}</td>
                  <td>{{carrera.VACANTES}}</td>
                  <td>{{carrera.MATRICULADOS}}</td>
                  <!-- <td [ngStyle]="changeBackground()">{{carrera.MAT_PORCENTAJE}}%</td> -->
                  <td [ngStyle]="changeBackground(carrera.MAT_PORCENTAJE)" *ngIf="carrera.MAT_PORCENTAJE != '-'; else prom2"> {{carrera.MAT_PORCENTAJE}}%</td>
                  <ng-template #prom2>
                     <td>
                        {{carrera.MAT_PORCENTAJE}}
                     </td>
                  </ng-template>


                  <td style="width: 6%;">{{carrera.OTROS_INGRESOS}}</td>
                  <td style="width: 7%;">{{carrera.MAT_TOTAL}}</td>
               </tr>
               <tr class="subtotal">
                  <th style="width: 30.085%" class="numerico">SUBTOTAL</th>
                  <th style="width: 9%">{{facultad['SUBTOTAL'].SELECCIONADOS}}</th>
                  <th style="width: 6%;">{{facultad['SUBTOTAL'].LISTA_ESPERA}}</th>
                  <th style="width: 9%;">{{facultad['SUBTOTAL'].REPOSTULACION}}</th>
                  <th style="width: 6%;">{{facultad['SUBTOTAL'].INGRESO_ESPECIAL}}</th>
                  <th style="width: auto;">{{facultad['SUBTOTAL'].VACANTES}}</th>
                  <th style="width: auto;">{{facultad['SUBTOTAL'].MATRICULADOS}}</th>
                  <th *ngIf="facultad['SUBTOTAL'].MAT_PORCENTAJE != '-'; else prom3" style="width: auto">{{facultad['SUBTOTAL'].MAT_PORCENTAJE}}%</th>
                  <ng-template #prom3>
                     <th>
                        {{facultad['SUBTOTAL'].MAT_PORCENTAJE}}
                     </th>
                  </ng-template>
                  <th style="width: 6%;">{{facultad['SUBTOTAL'].OTROS_INGRESOS}}</th>
                  <th style="width: 7%;">{{facultad['SUBTOTAL'].MAT_TOTAL}}</th>
               </tr>
            </ng-container>


         </tbody>
         <tfoot>
            <tr>
               <th style="width: 30.085%" class="numerico">TOTAL</th>
               <th style="width: 9%">{{nuevos['TOTAL'].SELECCIONADOS}}</th>
               <th style="width: 6%;">{{nuevos['TOTAL'].LISTA_ESPERA}}</th>
               <th style="width: 9%;">{{nuevos['TOTAL'].REPOSTULACION}}</th>
               <th style="width: 6%;">{{nuevos['TOTAL'].INGRESO_ESPECIAL}}</th>
               <th style="width: auto;">{{nuevos['TOTAL'].VACANTES}}</th>
               <th style="width: auto;">{{nuevos['TOTAL'].MATRICULADOS}}</th>
               <th style="width: auto">{{nuevos['TOTAL'].MAT_PORCENTAJE}}%</th>
               <th style="width: 6%;">{{nuevos['TOTAL'].OTROS_INGRESOS}}</th>
               <th style="width: 7%;">{{nuevos['TOTAL'].MAT_TOTAL}}</th>
            </tr>
            <tr>
               <td colspan="10">
                  <div class="legend">
                     <div class="square red"></div>
                     <div class="text"> 0% - 60%</div>
                     <div class="square orange"></div>
                     <div class="text"> 61% - 90% </div>
                     <div class="square yellow"></div>
                     <div class="text"> 91% - 99% </div>
                     <div class="square green"></div>
                     <div class="text"> >= 100% </div>
                  </div>
               </td>
            </tr>

         </tfoot>
      </table>

   </div>

</div>
