<div style="position: fixed;
width: 100%;
height:100%;
display: flex;
align-items: center;
top: 0;" *ngIf="!loading">
   <img style="display: flex; margin: 0 auto;" src="./assets/img/cargando.gif">
</div>


<div *ngIf="ready_resumen && loading" class="contenedor">
   <div class="filtros">
      <table class="filtrosTabla">
         <thead>
            <tr>
               <th colspan="4">MATRÍCULA DE ALUMNOS EN TIEMPO REAL</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th colspan="2" style="width: 10%;">AÑO</th>
               <td colspan="2">
                  <select style="width: 12%" [(ngModel)]="anio_selected" (change)="changeValue(1)">
                     <option *ngFor="let res of resumen_matriculas; let i=index" [ngValue]="i">{{ res.ANIO }}</option>
                  </select>
               </td>
            </tr>
            <tr>
               <th colspan="2" style="width: 10%;">SEDE</th>
               <td colspan="2">
                  <select style="width: 12%" [(ngModel)]="sede_selected" (change)="changeValue(1)">
                     <option *ngFor="let sede of resumen_matriculas[anio_selected].SEDES; let j=index" [ngValue]="j">{{ sede.SEDE }}</option>
                  </select>
               </td>
            </tr>
            <tr>
               <th colspan="2" style="width: 10%;">TIPO CARRERA</th>
               <td colspan="1">
                  <select style="width: 12.5%" [(ngModel)]="tipo_carrera_selected" (change)="changeValue(1)">
                     <option *ngFor="let tipo_carrera of resumen_matriculas[anio_selected].SEDES[sede_selected].TIPOS_CARRERA; let k=index" [ngValue]="k">{{ tipo_carrera.TIPO_CARRERA }}</option>
                  </select>
               </td>
               <td style="width:3%; text-align: center">
                  <a role="button" style="cursor: pointer" class="pdf" (click)="pdfResumen()"></a>
               </td>
            </tr>
         </tbody>
         <tfoot>
            <tr>
               <th colspan="4">&#160;</th>
            </tr>
         </tfoot>
      </table>
   </div>

   <div class="cuerpo50" style="width: 100%; height: auto;">
      <table class="cuerpoTabla">
         <thead>
            <tr>
               <th style="width: 2%">#</th>
               <th style="width: 27%">TIPO DE INGRESO</th>
               <th style="width: 14%">MATRICULADOS</th>
               <th style="width: 8%;">ACCION</th>
               <th style="width: 49%;">%</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th colspan="3" style="text-align:left;">
                  ALUMNOS NUEVOS
               </th>
               <th>
                  <a role="button" style="cursor: pointer" class="abrirArea" (click)="openNuevos()"></a>
               </th>
               <th style="padding: 5px 0 8px" class="nohover" rowspan="8">
                  <canvas id="cool-canvas" baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors"
                     [legend]="pieChartLegend" [options]="pieOptions">
                  </canvas>

               </th>
            </tr>
            <tr [ngClass]="change_data.REGULAR">
               <td >1</td>
               <td class="string">INGRESO REGULAR</td>
               <td>{{data_selected.REGULAR}}</td>
               <td>&#160;</td>
            </tr>
            <tr [ngClass]="change_data.INGRESO_ESPECIAL">
               <td >2</td>
               <td class="string">INGRESO ESPECIAL</td>
               <td>{{data_selected.INGRESO_ESPECIAL}}</td>
               <td>&#160;</td>
            </tr>
            <tr [ngClass]="change_data.OTROS_INGRESOS">
               <td>3</td>
               <td class="string">OTROS INGRESOS</td>
               <td>{{data_selected.OTROS_INGRESOS}}</td>
               <td>&#160;</td>
            </tr>
            <tr [ngClass]="change_data.TOTAL_NUEVOS" class="subtotal">
               <td  colspan="2" class="bold right mypadd">TOTAL ALUMNOS NUEVOS</td>
               <td colspan="1"> {{data_selected.TOTAL_NUEVOS}}</td>
               <td>
               </td>
            </tr>
            <tr>
               <th colspan="3" style="text-align:left;">
                  ALUMNOS ANTIGUOS
               </th>
               <th>
                  <a role="button" style="cursor: pointer" class="abrirArea" (click)="openAntiguos()"></a>
               </th>
            </tr>
            <tr [ngClass]="change_data.ANTIGUOS"  class="subtotal">
               <td colspan="2" class="bold right mypadd">TOTAL ALUMNOS ANTIGUOS</td>
               <td colspan="1">{{data_selected.ANTIGUOS}}</td>
               <td></td>
            </tr>
            <tr [ngClass]="change_data.TOTAL_MATRICULA">
               <th colspan="2" style="text-align:left;">
                  MATRICULA TOTAL
               </th>
               <th  colspan="1">{{data_selected.TOTAL_MATRICULA}}</th>
               <th>
                  <a role="button" style="cursor: pointer" class="abrirArea" (click)="openTotal()"></a>
               </th>
            </tr>
         </tbody>
         <tfoot>
            <tr>
               <th colspan="5">&#160;</th>
            </tr>
         </tfoot>
      </table>
   </div>
</div>


<modal #nuevosModal>
   <ng-template #modalBody>
      <app-matricula-nuevos [nuevos]="resumen_nuevos[anio_selected].SEDES[sede_selected].TIPOS_CARRERA[tipo_carrera_selected]"
         [selected]="obj_selected" [canvas_url]="canvas_url"></app-matricula-nuevos>
   </ng-template>
</modal>

<modal #antiguosModal>
   <ng-template #modalBody>
      <app-matricula-antiguos [antiguos]="resumen_antiguos[anio_selected].SEDES[sede_selected].TIPOS_CARRERA[tipo_carrera_selected]"
         [selected]="obj_selected" [canvas_url]="canvas_url"></app-matricula-antiguos>
   </ng-template>
</modal>

<modal #totalModal>
   <ng-template #modalBody>
      <app-matricula-total [total]="resumen_total[anio_selected].SEDES[sede_selected].TIPOS_CARRERA[tipo_carrera_selected]" [selected]="obj_selected"
         [canvas_url]="canvas_url"></app-matricula-total>
   </ng-template>
</modal>


<!-- LOGO UTA -->
<div style="height:0; width:0; overflow:hidden;">
   <img id="logo-uta" src="./assets/img/logo_uta_80.jpg" width="80" height="auto">
   <canvas id="logo_uta_canvas"></canvas>
</div>
